body {
	background: #CCCCCC;	
}
header{
	left: 550px;
	top: 25px;
	position: absolute;
	width: 1440px;
height: 50px;
flex-shrink: 0;
background: #CA7C43;
}
.cabec{
	width: 1440px;
height: 182px;
flex-shrink: 0;
background: #CA7C43;
}
.cabec-banner{
	width: 295px;
height: 166px;
flex-shrink: 0;
}
#banner {
       width:80%;
}

.principal{
	color: #000;
	text-align: center;
	font-size: 20px;
	font-family: Inter;
	background: linear-gradient(180deg, #CA7C43 0%, rgba(202, 196, 67, 0.00) 100%);
       
}

.titulo-principal{
	padding-left: 20px;
	display: flex;
width: 262px;
height: 53px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-size: 20px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.texto{
	font-size: 30px;
}
.principal-texto {
position: absolute;
display: flex;
width: 1005px;
height: 370px;
flex-direction: column;
flex-shrink: 0;
color: #000;
text-align: center;
font-size: 20px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.titulo-centralizado{
	text-align: center;
}

p{
    text-align: center;
}
 
 #missao{
     font-size: 20px;
 }

.em strong{
	color: #FF0000;
} 

.itens {
    font-style: italic;
}

.beneficios{
	background: #CCCCCC;
	padding: 20px
}

ul{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembanner2{
	width: 50%;
}