body { 
    width: 1440px;

}

header{
	
	top: 25px;
	
	width: 1440px;
height: 50px;
flex-shrink: 0;
background: #CA7C43;
}
.cabec{
	width: 1440px;
height: 182px;
flex-shrink: 0;
background: linear-gradient(180deg, rgba(202, 124, 67, 0.86) 99.99%, rgba(202, 124, 67, 0.00) 100%);
}
.cabec-banner{
	width: 295px;
height: 166px;
flex-shrink: 0;
}
#banner {
       width:80%;
}

.principal{
	
	width: 1440px;
height: 388px;
flex-shrink: 0;
fill: linear-gradient(180deg, #CA7C43 85.42%, rgba(202, 124, 67, 0.00) 100%);
	display: block;  
}

.titulo-principal{
	padding-left: 20px;
	display: flex;
width: 262px;
height: 53px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-size: 20px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.texto{
	font-size: 30px;
}
.principal-texto {
position: absolute;
display: flex;
width:  1440px;
height: 388px;
flex-shrink: 0;
flex-direction: column;
color: #000;
text-align: center;
font-size: 20px;
font-family: Inter;

}
.titulo-centralizado{
	text-align: center;
}

p{
    text-align: center;
}
 
 #missao{
     font-size: 20px;
 }

.em strong{
	color: #FF0000;
} 

.itens {
	font-size: italic;
}

.beneficios{
	width: 1440px;
height: 455px;
flex-shrink: 0;
background: linear-gradient(180deg, rgba(202, 108, 67, 0.00) 0%, rgba(202, 124, 67, 0.94) 61.98%);
}

ul{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembanner2{
	width: 50%;
}